<h2>PRODUCTS</h2>
<section class="d-flex flex-wrap justify-content-evenly">
  {{#each products}}
  {{!-- con each itero la variable products --}}
  {{!-- revisar en el controller COMO SE LLAMA VARIABLE --}}
   <div class="card my-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.category}}</p>
      <a href="/products/{{this.id}}" class="btn btn-warning">+info</a>
    </div>
  </div>
  {{/each}}
</section>