<section class="d-flex">
<form class="d-flex flex-column w-50 justify-content-center align-items-center">
  <h1>REGISTER FORM</h1>
  <input class="w-50" type="text" name="name" id="name" placeholder="Name">
  <input class="w-50" type="email" name="email" id="email" placeholder="Email">
  <input class="w-50" type="password" name="password" id="password" placeholder="Password">
  <input class="w-50" type="text" name="photo" id="photo" placeholder="Photo">
  <input class="btn btn-warning" id="register" type="button" value="REGISTER">
</form>
<article class="w-50">
  LATEST USERS
  <span id="update"></span>
</article>
</section>
