<h1 class="my-3">CODER CHAT</h1>
<section>
  <article id="messages" class="w-50 bg-warning m-4 p-1">
    <p class="bg-white p-1 m-1">aca se van a renderizar todos los mensajitos</p>
    <p class="bg-white p-1 m-1">aca se van a renderizar todos los mensajitos</p>
    <p class="bg-white p-1 m-1">aca se van a renderizar todos los mensajitos</p>
    <p class="bg-white p-1 m-1">aca se van a renderizar todos los mensajitos</p>
  </article>
  <span id="username"></span><input class="bg-white p-1 m-1 w-100" type="text" name="text" id="text" placeholder="Type!">
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/public/scripts/socket.js"></script>